#create-container{
    width: 60%;
    height: 50%;
    margin: auto;
    border: 2px solid rgb(188, 83, 27);
    border-radius: 10px;
    margin-top: 7%;
    padding: 20px;
}

.label{
    margin-bottom: 10px;
}

#post-submit{
    cursor: pointer;
    background-color: white;
    color: rgb(18, 14, 14);
    padding: 5px 10px;
    white-space: nowrap;
    overflow: visible;
}
#title{
    width: 100%;
    height: 10%;
}

#content{
    overflow: hidden;
    width: 100%;
    height: 150px;
}


