body{
    background-color: rgb(10, 10, 10);
}

.main-container{
    width: 30%;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    display: flex;
    border: 2px solid rgb(188, 83, 27);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    color: white;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label{
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}

input{
    width: 100%;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: aqua;
}

a:hover{
    color: rgb(209, 171, 101);
}
