body{
    background-color: rgb(10, 10, 10);
}

#main-container{
    width: 30%;
    margin: auto;
    margin-top: 8%;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(188, 83, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    color: white;
}

.messages{
    text-align: center;
}

.error{
    color: red;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label{
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: white;
}
input{
    width: 100%;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: aqua;
}

a:hover{
    color: rgb(209, 171, 101);
}

#msg{
    font-weight: bold;
}
